<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.unavarra.tlm.dscr_10" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MyActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Juego.Pregunta"
            android:label="Pregunta" >
        </activity>
        <activity
            android:name=".CarpetaLogin.entrar"
            android:label="@string/title_activity_entrar" >
        </activity>
        <activity
            android:name=".Registrar.registro"
            android:label="@string/title_activity_registro" >
        </activity>
        <activity
            android:name=".Log"
            android:label="@string/title_activity_log" >
        </activity>
        <activity
            android:name=".listapartidas.ListaPartidasTabs"
            android:label="@string/title_activity_lista_partidas" >
        </activity>
        <activity
            android:name=".Juego.Jugar"
            android:label="@string/title_activity_jugar" >
        </activity>
    </application>

</manifest>
